.container{
    display: flex;
    justify-content: space-between;
    font-size: 60px;
}

.container div{
    display: flex;
    flex-direction: column;
    width: 1000px;
}

body{
    background-image: url("afbeeldingen/background.jpg");
    background-size: cover;
}